extends template.pug

block head
    title confirm
    meta(http-equiv="cache-control", content="max-age=0")
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="0")
    

block content
    p Purchase Successful

    table(border="0")
        tbody
            tr
                td Name:
                td= name
            tr
                td
                    span Card:
                td= card
            tr
                td Card number: 
                td= cardNumber
            tr
                td Amount:
                td= total
            tr
                td Express Delivery:
                td= delivery
    br
    a(href="http://localhost:8000/list") BUY MORE BOOKS
    br
    a(href="http://localhost:8000/logout") LOGOUT