extends template.pug

block head
    title index
block content
    p Please the following information:
    form(action='/purchase' method='post')
        table(border='0')
            tbody
                tr
                    td Name:
                    td= name
                tr
                    td Quantity
                    td
                        input(name="Quantity" size = "4" maxlength="12" type="text" value=quantity)
                        //input(type='text' name='Quantity' size='4' maxlength='12' value=quantity)
                tr
                    td Books
                    td
                        select(size=books.length name='bookselection' multiple='multiple')
                            each book in books
                                option(value=book.name)= book.name
        br
        ul(style='color: #ff0000')
        input(name="SUBMIT" type="submit")
        br
        a(href='http://localhost:8000/landing') LOGOUT