extends template.pug

block head
    title Validate

block content
    h3 Thank you #{name}
    //h3= purchase.thankyou
    p Your Order
    table(style="padding: 1in" cellpadding="2" border="2")
        tbody
            tr
                td
                    b Book
                td
                    b Quantity
                td
                    b Unit Cost
                td
                    b Total Cost
            tr
                td(align="left")= book
                td(align="right")= quantity
                //td(align="right")= book.quantity
                td(align="right")= unitCost
                //td(align="right")= purchase.unitCost
                td(align="right")= totalCost
                //td(align="right")= purchase.totalCost

    //p= purchase.costStr
    br
    p Please enter your Credit Card information
    form(method="post" action="confirm")
        table(border="0")
            tbody
                tr
                    td Credit Card
                    td(width="92")
                        select(name="Creditcard")
                            option(selected="selected") MasterCard
                            option Visa
                            option Amex
                tr
                    td Card Number
                    td(width="92")
                        input(name="Cardnumber" size="16" type="text" required='' title='4 groups of 4 digits, each separated by 1 space' pattern='[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}')
                tr
                    td Express Delivery
                    td(width="92")
                        input(name="expressdelivery" type="checkbox")
        input(name="Purchase" value="Purchase" type="submit")
        br
        a(href='http://localhost:8000/landing') LOGOUT